In [172]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import OneHotEncoder

In [173]:
data=pd.read_excel(r'G:\DBA\MOD_2_core analytics\django\djangoTut\mpgWebApp\models\mileage_new.xls')

In [174]:
data

,mpg,cyl,disp,hp,wt,acc,modyr,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [175]:
data.shape

(392, 9)

In [176]:
data.isnull().sum()

mpg       0
cyl       0
disp      0
hp        0
wt        0
acc       0
modyr     0
origin    0
name      0
dtype: int64

In [177]:
mapper = DataFrameMapper([
                        (['cyl','disp','wt','acc','modyr'],preprocessing.StandardScaler()),
                        (['origin'],preprocessing.OneHotEncoder(handle_unknown = 'ignore'))
                        ])

In [178]:
pipeline_obj=pipeline.Pipeline([
    ('mapper',mapper),
    ("model",ensemble.RandomForestRegressor())
])

In [179]:
data.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'modyr', 'origin', 'name'], dtype='object')

In [180]:
X=['cyl', 'disp', 'wt', 'acc', 'modyr','origin']
Y=['mpg']

In [181]:
pipeline_obj.fit(data[X],data[Y])

c:\users\bhargav\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cyl', 'disp', 'wt', 'acc',
                                             'modyr'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [182]:
pipeline_obj.predict(data[X])

array([17.59 , 14.86 , 17.21 , 16.422, 16.842, 14.65 , 13.94 , 14.18 ,
       13.39 , 14.83 , 14.87 , 14.38 , 14.96 , 14.809, 23.98 , 21.432,
       19.122, 20.798, 27.035, 26.615, 24.22 , 24.51 , 24.78 , 25.12 ,
       20.487, 10.74 , 10.91 , 11.77 ,  9.83 , 27.045, 26.21 , 25.27 ,
       19.65 , 16.701, 17.56 , 18.69 , 18.37 , 13.995, 13.65 , 14.15 ,
       14.01 , 12.23 , 13.   , 12.68 , 18.13 , 21.97 , 18.83 , 18.206,
       23.904, 26.65 , 29.395, 29.11 , 31.706, 33.825, 27.52 , 26.883,
       24.482, 25.575, 23.325, 20.69 , 22.919, 13.43 , 13.7  , 14.585,
       13.985, 16.33 , 11.79 , 12.63 , 12.3  , 13.215, 20.817, 14.995,
       13.635, 13.34 , 13.975, 18.993, 22.031, 20.532, 26.05 , 22.46 ,
       26.23 , 22.652, 27.215, 26.655, 13.5  , 14.55 , 13.41 , 14.04 ,
       14.605, 12.01 , 13.04 , 13.185, 14.07 , 12.63 , 12.03 , 13.365,
       18.364, 16.339, 18.537, 17.713, 21.99 , 26.365, 11.5  , 12.12 ,
       12.83 , 12.29 , 18.626, 21.7  , 20.84 , 22.8  , 22.45 , 21.027,
       21.505, 25.81 , 14.34 , 15.27 , 28.765, 25.065, 21.107, 19.79 ,
       15.22 , 22.916, 20.262, 12.405, 20.296, 19.295, 15.855, 31.03 ,
       25.303, 31.513, 24.76 , 16.045, 16.16 , 17.888, 15.46 , 13.56 ,
       14.08 , 13.74 , 14.35 , 27.573, 27.47 , 26.01 , 31.885, 31.62 ,
       27.365, 25.57 , 25.854, 24.38 , 25.464, 29.96 , 19.122, 17.683,
       15.552, 15.632, 15.41 , 15.025, 15.53 , 14.425, 17.285, 16.1  ,
       15.656, 17.528, 20.337, 19.07 , 14.833, 28.475, 23.484, 19.785,
       22.747, 24.024, 25.873, 23.936, 19.011, 29.005, 18.714, 23.492,
       22.379, 21.407, 24.436, 32.596, 26.94 , 25.53 , 24.985, 26.114,
       27.31 , 16.795, 15.885, 15.02 , 14.92 , 21.441, 20.695, 22.89 ,
       21.59 , 29.502, 25.66 , 29.12 , 32.691, 19.467, 18.129, 18.462,
       18.388, 29.782, 31.77 , 28.2  , 25.741, 20.041, 13.562, 20.07 ,
       19.622, 16.953, 15.82 , 13.685, 13.697, 13.764, 31.668, 29.867,
       33.92 , 25.597, 32.622, 16.756, 16.901, 15.56 , 15.351, 17.872,
       20.278, 19.059, 18.168, 15.8  , 15.595, 15.635, 15.59 , 29.732,
       24.596, 25.868, 24.839, 30.895, 32.323, 30.586, 29.9  , 21.42 ,
       22.944, 22.324, 40.314, 35.271, 34.189, 37.438, 35.29 , 19.51 ,
       18.76 , 19.584, 18.991, 20.349, 20.441, 24.694, 20.207, 19.675,
       20.329, 20.653, 18.856, 18.719, 19.229, 18.307, 18.293, 16.969,
       30.827, 26.211, 26.705, 29.777, 23.164, 23.713, 23.194, 24.982,
       21.539, 17.835, 22.479, 17.192, 32.822, 30.671, 21.235, 20.957,
       23.859, 20.259, 20.495, 17.351, 18.115, 17.14 , 17.921, 16.622,
       16.001, 19.774, 17.966, 33.699, 34.157, 35.586, 28.165, 25.135,
       21.225, 26.985, 22.231, 34.507, 34.577, 34.345, 36.999, 27.92 ,
       27.83 , 26.302, 31.236, 38.718, 36.867, 33.118, 36.804, 27.77 ,
       25.538, 25.153, 20.093, 34.337, 29.967, 31.983, 35.302, 32.845,
       42.824, 27.105, 40.8  , 43.263, 38.861, 33.182, 28.858, 40.346,
       35.654, 31.954, 30.406, 28.824, 34.25 , 32.63 , 28.167, 26.76 ,
       26.228, 24.676, 31.372, 38.022, 38.162, 35.919, 34.302, 37.056,
       36.701, 34.615, 34.428, 34.451, 31.455, 34.152, 33.95 , 32.63 ,
       32.51 , 31.448, 28.437, 28.345, 26.284, 25.614, 21.547, 24.698,
       21.508, 18.637, 28.691, 28.045, 32.501, 30.668, 29.216, 27.04 ,
       24.986, 35.279, 36.271, 32.732, 37.013, 35.634, 35.763, 35.397,
       33.533, 36.927, 33.356, 36.201, 25.517, 31.408, 26.778, 25.099,
       30.021, 34.022, 26.193, 26.772, 42.658, 32.443, 28.527, 29.709])

In [183]:
import joblib

In [184]:
joblib.dump(pipeline_obj,'RFModelforMPG3.pkl')

['RFModelforMPG3.pkl']

In [185]:
modelReload=joblib.load('RFModelforMPG3.pkl')

In [186]:
modelReload.predict(data[X])

array([17.59 , 14.86 , 17.21 , 16.422, 16.842, 14.65 , 13.94 , 14.18 ,
       13.39 , 14.83 , 14.87 , 14.38 , 14.96 , 14.809, 23.98 , 21.432,
       19.122, 20.798, 27.035, 26.615, 24.22 , 24.51 , 24.78 , 25.12 ,
       20.487, 10.74 , 10.91 , 11.77 ,  9.83 , 27.045, 26.21 , 25.27 ,
       19.65 , 16.701, 17.56 , 18.69 , 18.37 , 13.995, 13.65 , 14.15 ,
       14.01 , 12.23 , 13.   , 12.68 , 18.13 , 21.97 , 18.83 , 18.206,
       23.904, 26.65 , 29.395, 29.11 , 31.706, 33.825, 27.52 , 26.883,
       24.482, 25.575, 23.325, 20.69 , 22.919, 13.43 , 13.7  , 14.585,
       13.985, 16.33 , 11.79 , 12.63 , 12.3  , 13.215, 20.817, 14.995,
       13.635, 13.34 , 13.975, 18.993, 22.031, 20.532, 26.05 , 22.46 ,
       26.23 , 22.652, 27.215, 26.655, 13.5  , 14.55 , 13.41 , 14.04 ,
       14.605, 12.01 , 13.04 , 13.185, 14.07 , 12.63 , 12.03 , 13.365,
       18.364, 16.339, 18.537, 17.713, 21.99 , 26.365, 11.5  , 12.12 ,
       12.83 , 12.29 , 18.626, 21.7  , 20.84 , 22.8  , 22.45 , 21.027,
       21.505, 25.81 , 14.34 , 15.27 , 28.765, 25.065, 21.107, 19.79 ,
       15.22 , 22.916, 20.262, 12.405, 20.296, 19.295, 15.855, 31.03 ,
       25.303, 31.513, 24.76 , 16.045, 16.16 , 17.888, 15.46 , 13.56 ,
       14.08 , 13.74 , 14.35 , 27.573, 27.47 , 26.01 , 31.885, 31.62 ,
       27.365, 25.57 , 25.854, 24.38 , 25.464, 29.96 , 19.122, 17.683,
       15.552, 15.632, 15.41 , 15.025, 15.53 , 14.425, 17.285, 16.1  ,
       15.656, 17.528, 20.337, 19.07 , 14.833, 28.475, 23.484, 19.785,
       22.747, 24.024, 25.873, 23.936, 19.011, 29.005, 18.714, 23.492,
       22.379, 21.407, 24.436, 32.596, 26.94 , 25.53 , 24.985, 26.114,
       27.31 , 16.795, 15.885, 15.02 , 14.92 , 21.441, 20.695, 22.89 ,
       21.59 , 29.502, 25.66 , 29.12 , 32.691, 19.467, 18.129, 18.462,
       18.388, 29.782, 31.77 , 28.2  , 25.741, 20.041, 13.562, 20.07 ,
       19.622, 16.953, 15.82 , 13.685, 13.697, 13.764, 31.668, 29.867,
       33.92 , 25.597, 32.622, 16.756, 16.901, 15.56 , 15.351, 17.872,
       20.278, 19.059, 18.168, 15.8  , 15.595, 15.635, 15.59 , 29.732,
       24.596, 25.868, 24.839, 30.895, 32.323, 30.586, 29.9  , 21.42 ,
       22.944, 22.324, 40.314, 35.271, 34.189, 37.438, 35.29 , 19.51 ,
       18.76 , 19.584, 18.991, 20.349, 20.441, 24.694, 20.207, 19.675,
       20.329, 20.653, 18.856, 18.719, 19.229, 18.307, 18.293, 16.969,
       30.827, 26.211, 26.705, 29.777, 23.164, 23.713, 23.194, 24.982,
       21.539, 17.835, 22.479, 17.192, 32.822, 30.671, 21.235, 20.957,
       23.859, 20.259, 20.495, 17.351, 18.115, 17.14 , 17.921, 16.622,
       16.001, 19.774, 17.966, 33.699, 34.157, 35.586, 28.165, 25.135,
       21.225, 26.985, 22.231, 34.507, 34.577, 34.345, 36.999, 27.92 ,
       27.83 , 26.302, 31.236, 38.718, 36.867, 33.118, 36.804, 27.77 ,
       25.538, 25.153, 20.093, 34.337, 29.967, 31.983, 35.302, 32.845,
       42.824, 27.105, 40.8  , 43.263, 38.861, 33.182, 28.858, 40.346,
       35.654, 31.954, 30.406, 28.824, 34.25 , 32.63 , 28.167, 26.76 ,
       26.228, 24.676, 31.372, 38.022, 38.162, 35.919, 34.302, 37.056,
       36.701, 34.615, 34.428, 34.451, 31.455, 34.152, 33.95 , 32.63 ,
       32.51 , 31.448, 28.437, 28.345, 26.284, 25.614, 21.547, 24.698,
       21.508, 18.637, 28.691, 28.045, 32.501, 30.668, 29.216, 27.04 ,
       24.986, 35.279, 36.271, 32.732, 37.013, 35.634, 35.763, 35.397,
       33.533, 36.927, 33.356, 36.201, 25.517, 31.408, 26.778, 25.099,
       30.021, 34.022, 26.193, 26.772, 42.658, 32.443, 28.527, 29.709])